// .productCarousel {
//   display: inherit;
//   text-align: center;
//   padding: 1rem;
// }

.productCarousel {
  display: flex;
  justify-content: space-around;
  padding: 0 22vw 1rem 22vw;
  border-bottom: 5px solid #dbdbdb;
  img{
    max-height: 250px;
    max-width: 500px;
  }
}

@media screen and (min-width: 768px) {
  .productCarousel {
    border-right: 1px solid #dbdbdb;
    border-bottom: none;
    padding: 0 260px 1rem 260px;
    max-width: 526px;
    img{
      max-height: 300px;
    }

  }


}




