.productCarousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 22vw 1rem 22vw;
  border-bottom: 5px solid #dbdbdb;
}

.productCarousel img {
  max-height: 250px;
  max-width: 500px;
}

@media screen and (min-width: 768px) {
  .productCarousel {
    border-right: 1px solid #dbdbdb;
    border-bottom: none;
    padding: 0 260px 1rem 260px;
    max-width: 526px;
  }
  .productCarousel img {
    max-height: 300px;
  }
}
/*# sourceMappingURL=product-carousel.module.css.map */