.outerContainer {
  background-color: #ffffff;
}

.productHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.productHeader .navButton a {
  margin: 5px;
  text-decoration: none;
}

.productHeader .productHeaderTitle {
  color: #707070;
  font-size: 16px;
  text-transform: capitalize;
  padding: 0 10vw;
  width: 90%;
  text-align: center;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  background-color: #ffffff;
}

.hero .priceBox {
  max-width: 260px;
  padding-left: 40px;
  margin-bottom: 25px;
}

.hero .priceBox .priceBoxPrice h1 {
  text-align: left;
  font-weight: 600;
  margin: 15px 0 5px 1px;
}

.hero .priceBox .priceBoxAdditionalServices p {
  line-height: normal;
  color: #c20202;
  font-weight: 500;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.hero .priceBox .priceBoxSpecialOffer {
  display: none;
}

.hero .priceBox .priceBoxSpecialOffer p {
  line-height: normal;
  color: #c20202;
  font-weight: 500;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.hero .priceBox .priceBoxIncludedExtras p {
  line-height: normal;
  font-weight: 500;
}

.productInformations {
  margin-left: 40px;
  background-color: #ffffff;
  border-bottom: 1px solid #dbdbdb;
}

.productInformations .productInformationsHeader p {
  font-size: 17px;
  color: #707070;
  margin-bottom: 10px;
}

.productInformations .productInformationsBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.productInformations .productInformationsBody .productInformationsId p {
  font-size: 12px;
  font-weight: 400;
  color: #707070;
}

.productInformations .productInformationsBody .productInformationsDescription {
  padding-right: 40px;
}

.productInformations .productInformationsBody .productInformationsDescription p {
  font-size: 13px;
  color: #707070;
  font-weight: 400;
  word-spacing: 1px;
}

.productInformations .productInformationsBody .productInformationsReadMore {
  display: none;
}

.productInformations .productInformationsBody .productInformationsReadMore p {
  text-align: left;
  font-size: 17px;
  font-weight: 500;
  padding-top: 12px;
  border-top: 1px solid #cfcfcf;
}

.productSpecifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  padding: 0 40px 50px 40px;
}

.productSpecifications .productSpecificationsHeader {
  width: 100%;
  padding-top: 15px;
  border-bottom: 1px solid #cfcfcf;
}

.productSpecifications .productSpecificationsHeader p {
  color: #707070;
  font-size: 17px;
}

.productSpecifications .productSpecificationsList {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.productSpecifications .productSpecificationsList .atList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .productHeader .navButton a {
    margin: 25px;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .hero .priceBox .priceBoxSpecialOffer {
    display: block;
  }
  .productInformations {
    max-width: 486px;
    border-right: 1px solid #dbdbdb;
  }
  .productInformations .productInformationsHeader {
    margin-bottom: 5px;
  }
  .productInformations .productInformationsBody {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .productInformations .productInformationsBody .productInformationsReadMore {
    display: block;
  }
  .productSpecifications {
    max-width: 526px;
    border-right: 1px solid #dbdbdb;
  }
}
/*# sourceMappingURL=productPage.module.css.map */