.outerContainer{
    background-color: #ffffff;
}

.productHeader {
    display: flex;
    flex-direction: row;
    .navButton{
        a{
            margin: 5px;
            text-decoration: none;
        }
    }
    .productHeaderTitle{
        color: #707070;
        font-size: 16px;
        text-transform: capitalize;
        padding: 0 10vw;
        width: 90%;
        text-align: center;
    }
}

.hero {
    display: flex;
    flex-flow: column wrap;
    background-color: #ffffff;

    .priceBox {
        max-width: 260px;
        padding-left: 40px;
        margin-bottom: 25px;
        .priceBoxPrice {
            h1 {
                text-align: left;
                font-weight: 600;
                margin: 15px 0 5px 1px;
            }
        }
        .priceBoxAdditionalServices {
            p {
                line-height: normal;
                color: #c20202;
                font-weight: 500;
                margin-bottom: 5px;
                letter-spacing: 1px;
            }
        }
        .priceBoxSpecialOffer {
            display: none;
            p {
                line-height: normal;
                color: #c20202;
                font-weight: 500;
                margin-bottom: 5px;
                letter-spacing: 1px;
            }
        }
        .priceBoxIncludedExtras {
            p {
                line-height: normal;
                font-weight: 500;
            }
        }
    }
}

.productInformations {
    margin-left: 40px;
    background-color: #ffffff;
    border-bottom: 1px solid #dbdbdb;

    .productInformationsHeader {
        p {
            font-size: 17px;
            color: #707070;
            margin-bottom: 10px;
        }
    }

    .productInformationsBody {
        display: flex;
        flex-direction: column-reverse;
        .productInformationsId {
            p {
                font-size: 12px;
                font-weight: 400;
                color: #707070;
            }
        }
        .productInformationsDescription {
            padding-right: 40px;
            p {
                font-size: 13px;
                color: #707070;
                font-weight: 400;
                word-spacing: 1px;
            }
        }

        .productInformationsReadMore {
            display: none;
            p {
                text-align: left;
                font-size: 17px;
                font-weight: 500;
                padding-top: 12px;
                border-top: 1px solid #cfcfcf;
            }
        }
    }
}

.productSpecifications {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 0 40px 50px 40px;

    .productSpecificationsHeader {
        width: 100%;
        padding-top: 15px;
        border-bottom: 1px solid #cfcfcf;

        p {
            color: #707070;
            font-size: 17px;
        }
    }

    .productSpecificationsList {
        width: 100%;
        display: flex;
        flex-direction: column;
        .atList {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }


    }
}

@media screen and (min-width: 768px) {
    .productHeader{
        .navButton{
            a{
                margin:25px
            }
        }
    }
    .hero {
        display: flex;
        flex-flow: row;
        .priceBox {
            .priceBoxSpecialOffer {
                display: block;
            }
        }
    }

    .productInformations {
        max-width: 486px;
        border-right: 1px solid #dbdbdb;
        .productInformationsHeader{
            margin-bottom: 5px;
        }
        .productInformationsBody {
            flex-direction: column;
            .productInformationsReadMore{
                display: block;
            }
        }
    }

    .productSpecifications {
        max-width: 526px;
        border-right: 1px solid #dbdbdb;
    }
}