.content {
  display: -ms-grid;
  display: grid;
  gap: 10px;
}

.navbar {
  display: inherit;
}

.main {
  padding: 0.5rem 0;
  background-color: #F9F9F9;
}

.footer {
  display: inherit;
}
/*# sourceMappingURL=layout.module.css.map */