.header h1 {
  color: #707070;
  font-size: 14px;
  text-transform: capitalize;
  padding: 0 10vw;
}

.content {
  display: -ms-grid;
  display: grid;
  background-color: #fff;
  color: black;
  font-weight: 200;
  letter-spacing: normal;
  line-height: 20px;
  font-family: GillSansforJL, Gill Sans, Gill Sans MT, Arial, Helvetica, sans-serif;
}

.content .link {
  color: inherit;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
}

.content .link :hover {
  cursor: pointer;
  background-color: #fdfdfdef;
}

.content .link .contentProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid #dbdbdb;
  padding: 20px;
  height: 100%;
}

.content .link .contentProduct .contentImg {
  width: 100%;
}

.content .link .contentProduct .contentTitle {
  width: 100%;
  font-weight: 400;
}

.content .link .contentProduct .contentPrice {
  width: 100%;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .content {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}
/*# sourceMappingURL=index.module.css.map */