// .content {
//   display: grid;
//   gap: 1px;
//   background-color: #dddddd;
//   color: black;
//   padding: 1px ;
//   font-weight: 200;
//   letter-spacing: normal;
//   line-height: 20px;
//   font-family: GillSansforJL, Gill Sans, Gill Sans MT, Arial, Helvetica, sans-serif;
// }
.header {
  h1 {
    color: #707070;
    font-size: 14px;
    text-transform: capitalize;
    padding: 0 10vw;
  }
}

.content {
  display: grid;
  background-color: #fff;
  color: black;
  font-weight: 200;
  letter-spacing: normal;
  line-height: 20px;
  font-family: GillSansforJL, Gill Sans, Gill Sans MT, Arial, Helvetica, sans-serif;

  .link {
    color: inherit;
    text-decoration: none;
    display: flex;
    background: white;
    :hover{
      cursor: pointer; 
      background-color:#fdfdfdef ;
    }
    .contentProduct {
      display: flex;
      flex-wrap: wrap;
      border: 1px solid #dbdbdb;
      padding: 20px;
      height: 100%;
      .contentImg {
        width: 100%;
      }

      .contentTitle {
        width: 100%;
        font-weight: 400;
      }

      .contentPrice {
        width: 100%;
        font-weight: 600;
      }
    }
  }
}


@media screen and (min-width: 768px) {
  .content {
    grid-template-columns: repeat(4, 1fr);
  }
}

// .link {
//   color: inherit;
//   text-decoration: none;
//   display: flex;
//   background: white;
// }

// .content {
//   background-color: #fff;
//   padding: 25px;
// }

// .price {
//   font-weight: bold;
// }